body, html {
    padding: 0;
    margin: 0;
    justify-content: center;
    box-sizing: border-box;
    background-color: #1A191D; 
}

.chat-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2;
}

.sidebar {
    width: 300px;
    background-color: #C474FC;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.sidebar h2 {
    color: white;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
    height: 70%;
    overflow-y: auto;
}

.sidebar ul li {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px; 
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s; 
    cursor: pointer;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px; 
}

.sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.4); 
}

.side-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

.create-btn {
    background-color: #ffffff;
    width: 40px;
    border-radius: 20px;
    height: 40px;
    border: none;
    color: #C474FC;
    cursor: pointer;
    margin: 5px 0;
}

.create-btn p {
    font-size: 34px;
    padding: 0;
    position: fixed;
    top: 21px;
}

.create-btn:hover {
    background-color: #e0b7ff;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    margin: auto;
    max-width: 300px;
    border-radius: 10px;
}

.chat-area {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.chatroom-title {
    color: #C474FC;
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Added text shadow */
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.chat-message {
    margin-bottom: 10px;
}

.my-message {
    background-color: #C474FC;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: auto;
    width: fit-content;
}

.other-message {
    background-color: #e0b7ff;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    width: fit-content;
}

.server-message {
    color: gray;
    text-align: center;
    font-style: italic;
}

.message-form {
    display: flex;
    gap: 10px;
}

.message-form input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px ;
    color: #C474FC;
    border: 1px solid #ddd;
    background-color: #f0f0f0; 
}

.message-form button {
    background-color: #C474FC;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.message-form button:hover {
    background-color: #9b57d6;
}

.del-btn, .logout-btn, .pro-btn {
    background-color: white;
    color: #C474FC;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 10px 7px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    width: 240px;
}

.del-btn {
    bottom: 20px;
}

.logout-btn {
    bottom: 60px;
}

.pro-btn {
    bottom: 100px;
}

.del-btn:hover, .logout-btn:hover, .pro-btn:hover {
    background-color: #e0b7ff;
}

.sidebar .button-container {
    margin-top: auto; }
